<!DOCTYPE html>
<html>
  <head>
    <title>Spacecards</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= content_for :meta %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <div id="app">
      <%= yield %>
    </div>
  </body>
</html>
